<!-- wp:pattern {"slug":"brandy/hero-banner"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
	<div class="wp-block-columns alignwide">
		<!-- wp:column {"verticalAlignment":"stretch","style":{"border":{"style":"solid","width":"0.1em"},"shadow":"var:preset|shadow|shadow_3"},"borderColor":"brandy-primary-text"} -->
		<div class="wp-block-column is-vertically-aligned-stretch has-border-color has-brandy-primary-text-border-color"
			style="border-style:solid;border-width:0.1em;box-shadow:var(--wp--preset--shadow--shadow-3)">
			<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"color":{"background":"#fbfcff"}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-group has-background"
				style="background-color:#fbfcff;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
				<!-- wp:heading {"textAlign":"center","level":2,"fontSize":"2-xl"} -->
				<h2 class="wp-block-heading has-text-align-center has-2-xl-font-size">Diverse Choices</h2>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}}},"textColor":"brandy-secondary-text"} -->
				<p class="has-text-align-center has-brandy-secondary-text-color has-text-color has-link-color">With over
					1,600 fun shoe styles, whether you're into bold patterns, quirky designs, or classic styles, we have
					something for everyone.</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"verticalAlignment":"stretch","style":{"border":{"style":"solid","width":"0.1em"},"shadow":"var:preset|shadow|shadow_3"},"borderColor":"brandy-primary-text"} -->
		<div class="wp-block-column is-vertically-aligned-stretch has-border-color has-brandy-primary-text-border-color"
			style="border-style:solid;border-width:0.1em;box-shadow:var(--wp--preset--shadow--shadow-3)">
			<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"color":{"background":"#fbfcff"}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-group has-background"
				style="background-color:#fbfcff;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
				<!-- wp:heading {"textAlign":"center","level":2,"fontSize":"2-xl"} -->
				<h2 class="wp-block-heading has-text-align-center has-2-xl-font-size">Perfect Gift</h2>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}}},"textColor":"brandy-secondary-text"} -->
				<p class="has-text-align-center has-brandy-secondary-text-color has-text-color has-link-color">Every
					order arrives wrapped in a cute, friendly mailer, designed to resemble a present. Get ready to
					unwrap happiness with every delivery!</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->

		<!-- wp:column {"verticalAlignment":"stretch","style":{"border":{"style":"solid","width":"0.1em"},"shadow":"var:preset|shadow|shadow_3"},"borderColor":"brandy-primary-text"} -->
		<div class="wp-block-column is-vertically-aligned-stretch has-border-color has-brandy-primary-text-border-color"
			style="border-style:solid;border-width:0.1em;box-shadow:var(--wp--preset--shadow--shadow-3)">
			<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"color":{"background":"#fbfcff"}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-group has-background"
				style="background-color:#fbfcff;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
				<!-- wp:heading {"textAlign":"center","level":2,"fontSize":"2-xl"} -->
				<h2 class="wp-block-heading has-text-align-center has-2-xl-font-size">Pay Your Way</h2>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}}},"textColor":"brandy-secondary-text"} -->
				<p class="has-text-align-center has-brandy-secondary-text-color has-text-color has-link-color">We're
					pleased to inform you that we accept all major credit cards, making it incredibly convenient for you
					to complete your purchase.</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</div>
<!-- /wp:group -->


<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">Classics Spotlight</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/products-spotlight"} /-->
</div>
<!-- /wp:group -->


<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/campaign-banners-2"} /-->
</div>
<!-- /wp:group -->


<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-top:0;padding-right:var(--wp--preset--spacing--30);padding-bottom:0;padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/site-services"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">New Arrivals</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/newest-products-collection-slider"} /-->
</div>
<!-- /wp:group -->


<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">Shop by Categories</h2>
	<!-- /wp:heading -->

	<!-- wp:woocommerce/product-categories {"align":"wide","hasImage":true,"isHierarchical":false,"className":"brandy-product-categories-list"} /-->
</div>
<!-- /wp:group -->



<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">Best Sellers of Week</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/best-selling-products-collection"} /-->
</div>
<!-- /wp:group -->


<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/campaign-banners"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"site-pre-footer"} /-->