<!-- wp:pattern {"slug":"brandy/hero-banner"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"left":"var:preset|spacing|30"},"margin":{"top":"0","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained","contentSize":"100%","justifyContent":"right"}} -->
<div class="wp-block-group"
	style="margin-top:0;margin-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:group {"style":{"color":{"background":"#f6f4ed"},"border":{"radius":{"topLeft":"24px","topRight":"0px","bottomLeft":"24px","bottomRight":"0px"}},"spacing":{"padding":{"left":"var:preset|spacing|30","right":"0","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained","contentSize":""}} -->
	<div class="wp-block-group has-background"
		style="border-top-left-radius:24px;border-top-right-radius:0px;border-bottom-left-radius:24px;border-bottom-right-radius:0px;background-color:#f6f4ed;padding-top:var(--wp--preset--spacing--60);padding-right:0;padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--30)">
		<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|30"}}},"layout":{"type":"default"}} -->
		<div class="wp-block-group alignwide" style="padding-right:var(--wp--preset--spacing--30)">
			<!-- wp:heading {"textAlign":"center","align":"wide","className":"brandy-site-product-template","style":{"spacing":{"margin":{"top":"0","bottom":"5px"}}},"fontSize":"responsive-h-2"} -->
			<h2 class="wp-block-heading alignwide has-text-align-center brandy-site-product-template has-responsive-h-2-font-size"
				style="margin-top:0;margin-bottom:5px">What's Trending</h2>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"align":"center","className":"brandy-site-product-template","style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}},"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}}},"textColor":"brandy-secondary-text","fontSize":"small"} -->
			<p class="has-text-align-center brandy-site-product-template has-brandy-secondary-text-color has-text-color has-link-color has-small-font-size"
				style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40)">BookClub has provided us with an
				unexpected yet powerful tool for
				our
				team.</p>
			<!-- /wp:paragraph -->

			<!-- wp:pattern {"slug":"brandy/newest-products-collection-slider-layout-2"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"10px"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading has-text-align-center has-responsive-h-2-font-size" style="margin-bottom:10px">Popular
		of the Month</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"textColor":"brandy-secondary-text","fontSize":"small"} -->
	<p class="has-text-align-center has-brandy-secondary-text-color has-text-color has-link-color has-small-font-size"
		style="margin-bottom:var(--wp--preset--spacing--40)">Discover our handpicked selection of books that have
		captured the hearts and minds of readers this month.</p>
	<!-- /wp:paragraph -->


	<!-- wp:pattern {"slug":"brandy/top-rated-products-collection-slider-layout-3"} /-->

</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/campaign-banners"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading has-text-align-center has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">Find Your Fave Book</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/best-selling-products-collection"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/reading-apps"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"left":"0","right":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained","contentSize":"100%","justifyContent":"right"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:0">
	<!-- wp:group {"style":{"color":{"background":"#f6f4ed"},"border":{"radius":{"topLeft":"0px","topRight":"24px","bottomLeft":"0px","bottomRight":"24px"}},"spacing":{"padding":{"left":"0","right":"var:preset|spacing|30","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained","contentSize":""}} -->
	<div class="wp-block-group has-background"
		style="border-top-left-radius:0px;border-top-right-radius:24px;border-bottom-left-radius:0px;border-bottom-right-radius:24px;background-color:#f6f4ed;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--60);padding-left:0">
		<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"0","left":"var:preset|spacing|30"}}},"layout":{"type":"default"}} -->
		<div class="wp-block-group alignwide" style="padding-right:0;padding-left:var(--wp--preset--spacing--30)">
			<!-- wp:heading {"textAlign":"center","align":"wide","className":"brandy-site-product-template","style":{"spacing":{"margin":{"top":"0","bottom":"5px"}}},"fontSize":"responsive-h-2"} -->
			<h2 class="wp-block-heading alignwide has-text-align-center brandy-site-product-template has-responsive-h-2-font-size"
				style="margin-top:0;margin-bottom:5px">Must-Read</h2>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"align":"center","className":"brandy-site-product-template","style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}},"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}}},"textColor":"brandy-secondary-text","fontSize":"small"} -->
			<p class="has-text-align-center brandy-site-product-template has-brandy-secondary-text-color has-text-color has-link-color has-small-font-size"
				style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40)">Get inspired by our curated collection
				of books to unleash your potential!</p>
			<!-- /wp:paragraph -->

			<!-- wp:pattern {"slug":"brandy/product-categories-list"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"textAlign":"center","align":"wide","className":"wc-home-section-title wc-home__latest-posts__title","style":{"spacing":{"margin":{"bottom":"7px"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-text-align-center wc-home-section-title wc-home__latest-posts__title has-responsive-h-2-font-size"
		style="margin-bottom:7px">The Latest News</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"textColor":"brandy-secondary-text"} -->
	<p class="has-text-align-center has-brandy-secondary-text-color has-text-color has-link-color"
		style="margin-bottom:var(--wp--preset--spacing--40)">Follow our blog to stay informed and engaged with the
		latest happenings around the world.</p>
	<!-- /wp:paragraph -->

	<!-- wp:pattern {"slug":"brandy/newest-posts-grid"} /-->

	<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--30)">
		<!-- wp:button {"className":"is-style-outline"} -->
		<div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button" href="#">View
				More</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/book-offer"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/recommend-links"} /-->
</div>
<!-- /wp:group -->

<!-- wp:brandy/jump-to-section {"position":{"top":"","left":"","right":"50px","bottom":"50px"}} -->
<div data-jump-to="top" data-scroll-behaviour="smooth" class="wp-block-brandy-jump-to-section">
	<div class="wp-block-brandy-jump-to-section-trigger"
		style="position:fixed;top:;left:;right:50px;bottom:50px;z-index:100">
		<!-- wp:group {"style":{"color":{"background":"#0c0c0c"},"spacing":{"padding":{"top":"12px","bottom":"12px","left":"12px","right":"12px"}},"border":{"radius":"100px"}}} -->
		<div class="wp-block-group has-background"
			style="border-radius:100px;background-color:#0c0c0c;padding-top:12px;padding-right:12px;padding-bottom:12px;padding-left:12px">
			<!-- wp:image {"width":"24px","height":"24px"} -->
			<figure class="wp-block-image is-resized"><img src="https://images.wpbrandy.com/uploads/scroll-top-icon.png"
					alt="" style="width:24px;height:24px" /></figure>
			<!-- /wp:image -->
		</div>
		<!-- /wp:group -->
	</div>
</div>
<!-- /wp:brandy/jump-to-section -->