<!-- wp:pattern {"slug":"brandy/hero-banner"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0">
	<!-- wp:pattern {"slug":"brandy/site-services"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|70"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group"
	style="margin-top:0;margin-bottom:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/campaign-banners"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"textAlign":"center","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-text-align-center has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--40)">Jewelry on air this week</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/this-week-products-collection"} /-->

	<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"40px"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons" style="margin-top:40px"><!-- wp:button {"className":"is-style-outline"} -->
		<div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button" href="#">View
				more</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/variable-featured-product-with-gallery"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/simple-testimonials-2"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"center","justifyContent":"center"}} -->
	<div class="wp-block-group alignwide" style="margin-bottom:var(--wp--preset--spacing--30)">
		<!-- wp:heading {"fontSize":"responsive-h-2"} -->
		<h2 class="wp-block-heading has-responsive-h-2-font-size">Best Sellers You’ll Love</h2>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"brandy/best-selling-products-collection"} /-->

	<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"40px"}}},"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons" style="margin-top:40px"><!-- wp:button {"className":"is-style-outline"} -->
		<div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button" href="#">View
				more</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:cover {"url":"https://images.wpbrandy.com/uploads/jewelry-light-img-3-min.png","id":46,"dimRatio":0,"isUserOverlayColor":true,"minHeight":485,"minHeightUnit":"px","contentPosition":"bottom left","isDark":false,"align":"wide","style":{"spacing":{"padding":{"top":"1.8rem","bottom":"1.8rem","left":"1.8rem","right":"1.8rem"}},"elements":{"link":{"color":{"text":"var:preset|color|brandy-primary-black"}}},"border":{"radius":"15px"}},"textColor":"brandy-primary-black","layout":{"type":"constrained"}} -->
	<div class="wp-block-cover alignwide is-light has-custom-content-position is-position-bottom-left has-brandy-primary-black-color has-text-color has-link-color"
		style="border-radius:15px;padding-top:1.8rem;padding-right:1.8rem;padding-bottom:1.8rem;padding-left:1.8rem;min-height:485px">
		<span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img
			class="wp-block-cover__image-background wp-image-46" alt=""
			src="https://images.wpbrandy.com/uploads/jewelry-light-img-3-min.png" data-object-fit="cover" />
		<div class="wp-block-cover__inner-container">
			<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"},"margin":{"top":"0"},"blockGap":"1rem"},"border":{"radius":"7px"}},"backgroundColor":"brandy-theme-background","layout":{"type":"constrained","contentSize":"430px"}} -->
			<div class="wp-block-group has-brandy-theme-background-background-color has-background"
				style="border-radius:7px;margin-top:0;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
				<!-- wp:heading {"style":{"spacing":{"margin":{"bottom":"0"}},"typography":{"fontSize":"1.62rem"}}} -->
				<h2 class="wp-block-heading" style="margin-bottom:0;font-size:1.62rem">Just for Her</h2>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}}},"textColor":"brandy-secondary-text","fontSize":"small"} -->
				<p class="has-brandy-secondary-text-color has-text-color has-link-color has-small-font-size"
					style="margin-bottom:0">We have enhanced the value of jewelry, creating
					a poetic and splendid jewelry world.</p>
				<!-- /wp:paragraph -->

				<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"30px"}}}} -->
				<div class="wp-block-buttons" style="margin-top:30px">
					<!-- wp:button {"className":"is-style-outline","style":{"spacing":{"padding":{"left":"20px","right":"20px","top":"13px","bottom":"13px"}}}} -->
					<div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button"
							style="padding-top:13px;padding-right:20px;padding-bottom:13px;padding-left:20px">Shop
							Now</a></div>
					<!-- /wp:button -->
				</div>
				<!-- /wp:buttons -->
			</div>
			<!-- /wp:group -->
		</div>
	</div>
	<!-- /wp:cover -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
	<div class="wp-block-group alignwide" style="margin-bottom:var(--wp--preset--spacing--40)">
		<!-- wp:heading {"textAlign":"left","align":"wide","className":"wc-home-section-title wc-home__latest-posts__title","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"bottom":"0"}}},"fontSize":"responsive-h-2"} -->
		<h2 class="wp-block-heading alignwide has-text-align-left wc-home-section-title wc-home__latest-posts__title has-responsive-h-2-font-size"
			style="margin-bottom:0;font-style:normal;font-weight:700">Blog make life richer
		</h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph {"className":"brandy-link-underline","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|brandy-primary-text"}}}},"textColor":"brandy-primary-text"} -->
		<p class="brandy-link-underline has-brandy-primary-text-color has-text-color has-link-color"
			style="font-style:normal;font-weight:500"><a href="#" data-type="page" data-id="20">View more
				&nbsp;&nbsp;→</a></p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"brandy/newest-posts-grid-slider"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|70"},"padding":{"left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"
	style="margin-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:group {"align":"wide","style":{"border":{"top":{"style":"solid","width":"1px","color":"var:preset|color|brandy-border"},"right":{"style":"none","width":"0px"},"bottom":{"style":"none","width":"0px"},"left":{"style":"none","width":"0px"}},"spacing":{"padding":{"top":"50px","bottom":"50px"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide"
		style="border-top-color:var(--wp--preset--color--brandy-border);border-top-style:solid;border-top-width:1px;border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-style:none;border-left-width:0px;padding-top:50px;padding-bottom:50px">
		<!-- wp:tag-cloud {"numberOfTags":5,"smallestFontSize":"14px","largestFontSize":"14px","align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->