<!-- wp:pattern {"slug":"brandy/hero-banner"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/site-services"} /-->
</div>
<!-- /wp:group -->


<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:woocommerce/product-categories {"align":"wide","hasCount":true,"hasImage":true,"isHierarchical":false,"metadata":{"categories":["woocommerce","brandy"],"patternName":"brandy/product-categories-list","name":"Brandy Product Categories List"},"className":"brandy-product-categories-list"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">Deals of the week</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/on-sale-products-collection-slider"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/campaign-banners-2"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">Books we can't wait to
		read</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/newest-products-collection-slider"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/book-request"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">Best selling of the
		month</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/best-selling-products-collection-slider"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">Just released must-read
		top books</h2>
	<!-- /wp:heading -->

	<!-- wp:pattern {"slug":"brandy/top-rated-products-collection-slider"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"grid","minimumColumnWidth":"350px"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:group {"style":{"background":{"backgroundImage":{"url":"https://images.wpbrandy.com/uploads/book-v1-img-2-min.png","id":189,"source":"file","title":"IMG_1979"},"backgroundSize":"cover"},"layout":{"columnSpan":"2"},"border":{"radius":"15px"},"dimensions":{"minHeight":"450px"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group" style="border-radius:15px;min-height:450px"></div>
		<!-- /wp:group -->

		<!-- wp:group {"style":{"spacing":{"blockGap":"15px"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center"}} -->
		<div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontSize":"2.5rem"}}} -->
			<h2 class="wp-block-heading" style="font-size:2.5rem">Anticipated inspirational books for all ages</h2>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}}},"textColor":"brandy-secondary-text"} -->
			<p class="has-brandy-secondary-text-color has-text-color has-link-color">Discover
				inspirational books that have the power to motivate, uplift and profoundly change your life.</p>
			<!-- /wp:paragraph -->

			<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|20"}}}} -->
			<div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--20)">
				<!-- wp:button {"backgroundColor":"brandy-primary-text","textColor":"brandy-theme-background","hoverBackgroundColor":"#ffffff","hoverTextColor":"#151617","className":"is-style-fill","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-theme-background"}}},"shadow":"var:preset|shadow|brandy-book-shadow-3","border":{"width":"2px","style":"solid"}},"borderColor":"brandy-primary-text"} -->
				<div class="wp-block-button is-style-fill"
					style="--button-hover-color:#151617;--button-hover-background-color:#ffffff"><a
						class="wp-block-button__link has-brandy-theme-background-color has-brandy-primary-text-background-color has-text-color has-background has-link-color has-border-color has-brandy-primary-text-border-color wp-element-button"
						style="border-style:solid;border-width:2px;box-shadow:var(--wp--preset--shadow--brandy-book-shadow-3)"
						href="#">Shop
						now</a></div>
				<!-- /wp:button -->
			</div>
			<!-- /wp:buttons -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">Client reviews for books</h2>
	<!-- /wp:heading -->
	<!-- wp:pattern {"slug":"brandy/simple-testimonials-1"} /-->
</div>
<!-- /wp:group -->


<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30","margin":{"bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
	<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--30)">
		<!-- wp:heading {"className":"brandy-link-underline-to-a-child brandy-link-underline-long","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-primary-text"}}}},"textColor":"brandy-primary-text","fontSize":"responsive-h-2"} -->
		<h2
			class="wp-block-heading brandy-link-underline-to-a-child brandy-link-underline-long has-brandy-primary-text-color has-text-color has-link-color has-responsive-h-2-font-size">
			<a href="#">New arrivals</a>
		</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"style":{"color":{"text":"#969fa9"},"elements":{"link":{"color":{"text":"#969fa9"}}}},"fontSize":"extra-large"} -->
		<h2 class="wp-block-heading has-text-color has-link-color has-extra-large-font-size" style="color:#969fa9">//
		</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"className":"brandy-link-underline-to-a-child brandy-link-underline-long","style":{"elements":{"link":{"color":{"text":"#969fa9"},":hover":{"color":{"text":"var:preset|color|brandy-primary-text"}}}},"color":{"text":"#969fa9"}},"fontSize":"responsive-h-2"} -->
		<h2 class="wp-block-heading brandy-link-underline-to-a-child brandy-link-underline-long has-text-color has-link-color has-responsive-h-2-font-size"
			style="color:#969fa9"><a href="#">What's trend</a></h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"style":{"color":{"text":"#969fa9"},"elements":{"link":{"color":{"text":"#969fa9"}}}},"fontSize":"extra-large"} -->
		<h2 class="wp-block-heading has-text-color has-link-color has-extra-large-font-size" style="color:#969fa9">//
		</h2>
		<!-- /wp:heading -->

		<!-- wp:heading {"className":"brandy-link-underline-to-a-child brandy-link-underline-long","style":{"elements":{"link":{"color":{"text":"#969fa9"},":hover":{"color":{"text":"var:preset|color|brandy-primary-text"}}}},"color":{"text":"#969fa9"}},"fontSize":"responsive-h-2"} -->
		<h2 class="wp-block-heading brandy-link-underline-to-a-child brandy-link-underline-long has-text-color has-link-color has-responsive-h-2-font-size"
			style="color:#969fa9"><a href="#">Sale books</a></h2>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"brandy/newest-products-collection"} /-->

</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group"
	style="margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/campaign-banners"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"blockGap":"0"}},"layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group"
	style="margin-bottom:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:heading {"textAlign":"left","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}},"fontSize":"responsive-h-2"} -->
	<h2 class="wp-block-heading alignwide has-text-align-left has-responsive-h-2-font-size"
		style="margin-bottom:var(--wp--preset--spacing--30)">The
		latest and greatest new</h2>
	<!-- /wp:heading -->
	<!-- wp:pattern {"slug":"brandy/newest-posts-grid"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:pattern {"slug":"brandy/recommend-links"} /-->
</div>
<!-- /wp:group -->